@import java.util.Calendar
@import java.text.SimpleDateFormat

@(title: String)(content: Html)
<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


    <!-- Bootstrap -->
    <link href='@routes.Assets.versioned("bootstrap-3.3.6-dist/css/bootstrap.min.css")' rel="stylesheet">
    <link href='@routes.Assets.versioned("bootstrap-3.3.6-dist/css/bootstrap-theme.min.css")' rel="stylesheet">
</head>
<body>

    <div id="simulator-main"  class="container-fluid">
        <div class="main">
            @content
        </div>
    </div>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src='@routes.Assets.versioned("bootstrap-3.3.6-dist/js/bootstrap.min.js")'></script>

</body>
</html>